body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(41, 40, 40);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15vh auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background: rgb(19, 19, 19);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(88, 88, 88);
}

textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(88, 88, 88);
}
button{
    margin: 10px auto;
    width: 120px;
    height:50px;
    background: #40CB99;
    color: white;
    cursor: pointer;
}
button a{
  color:white;
  text-decoration:none;
}
button:hover{
background: rgb(81, 82, 81);
}
@media screen and (max-width:600px) {
    .container{
        width: 90%;
    }
}