* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 180vh;
    justify-content: center;
    align-items: center;
    font-family: "ubuntu";
    background: #292929;
  }
  
  .container {
    width: 640px;
    background: #242424;
    overflow: hidden;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #272626;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 20em;
    margin-top: 90px;
  }
  
  .container1 {
      width: 640px;
      background: #242424;
      overflow: hidden;
      color: #fff;
      border-radius: 3px;
      border: 1px solid #272626;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      margin-left: 20em;
      margin-top: 30px;
    }
  .top_bar {
    width: 100%;
    height: 75px;
    padding: 25px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile_img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .profile_img img {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .profile_img span {
    margin-left: 50px;
  }
  
  .main_img {
    width: 640px;
    height: 640px;
    margin-bottom: 15px;
  }
  
  .main_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .icons .fa {
    font-size: 24px;
    cursor: pointer;
  }
  
  .icons .left_side .fa {
    margin: 0px 3px;
    color: #f7f3f3;
  }
  
  .likeCount p {
    color: #e2e2e2;
    font-size: 14px;
  }
  
  .content p {
    padding: 5px 0;
  }
  
  .comments p {
    font-size: 14px;
    color: #8b8a8a;
    padding: 5px 0;
    padding-bottom: 10px;
  }
  
  .comments_box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon {
    padding: 8px 16px 8px 0;
    font-size: 24px;
  }
  
  .input_field {
    width: 100%;
  }
  
  .input_field input {
    width: 100%;
    background-color: #272626;
    color: white;
    padding: 10px;
    border: none !important;
    outline: none;
  }
  
  .btn button {
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
    color: #40CB99;
    font-weight: 600;
    cursor: pointer;
  }
  .fa{
      color: white;
  }
  
  i{
    color: white;  
  }
  .nav{
      width:100%;
      height:60px;
     background-color:white;
      
    }
    .nav h1{
      margin-left:70px;
      display:flex;
    }
  
    .nav-bar{
    width:100%;
    display:flex;
    height:60px;
    background-color: rgba(73, 66, 80, 0.412);
    position: sticky;
    top: 0;
    }
    .list{
      top:20px;
      position:sticky;
      
    }
    
    .nav-bar ul{
      list-style: none;
    display:flex;
    margin-left: 40em;
    
    
    }
    .nav-bar ul li{
      list-style: none;
      margin-left: 50px;
      margin-top: 20px;
      float: right;
      color: white;
    }
    .nav-bar ul li a{
      color: white;
      font-size: 18px;
    }